<?xml version="1.0"?>
      <config>
        <modules>
            <Jexia_Eventdemo>
                <version>0.0.1</version>
            </Jexia_Eventdemo>
        </modules>
        <global>
            <models>
                <Jexia_Eventdemo>
                    <class>Jexia_Eventdemo_Model</class>
                </Jexia_Eventdemo>
            </models>
            <events>
                <customer_login>
                    <observers>

                        <jexia_eventdemo>
                            <type>model</type>
                            <class>Jexia_Eventdemo_Model_Observer</class>
                            <method>logCustomer</method>
                        </jexia_eventdemo>

                    </observers>
                </customer_login>
            </events>
        </global>
     </config>
