<?xml version="1.0"?>
      <config>
        <global>
            <models>
                <class>Jexia_Eventdemo_Model</class>
            </models>
            <events>
                <customer_login>
                    <observers>
                        <jexia>
                        <eventdemo>
                            <type>model</type>
                            <class>eventdemo/observer</class>
                            <method>logCustomer</method>
                        </eventdemo>
                        </jexia>
                    </observers>
                </customer_login>
            </events>
        </global>
     </config>
